@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
/* font-family: 'Lilita One', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* font-family: 'Kanit', sans-serif; */

:root {
    /* Color palette */
        /* Dark */
    --color-dark-background: #101826;
    --color-dark-text: #FFFFFF;
    --color-dark-text-secondary: rgba(255, 255, 255, 0.65)
    --color-dark-primary: #BDD9BF;
    --color-dark-secondary: #1f2d3d;
        /* Light */
    --color-light-background: #FFFFFF;
    --color-light-text: #101826;
    --color-light-text-secondary: rgba(0, 0, 0, 0.65)
    --color-light-primary: #1f2d3d;
    --color-light-secondary: #BDD9BF;

    /* Shadows */
    --shadow-basic:rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.brand-title {
    font-family: 'Kanit', sans-serif;
    /* font-family: 'Lilita One', sans-serif; */

}


html[data-theme="light"] body, body {
    background-color: var(--color-light-background);
    background-image: url(/pixel-overlay.png);
    color: var(--color-light-text);
}


html[data-theme="dark"] body {
    background-color: var(--color-dark-background);
    background-image: url(/pixel-overlay-dark.png);
    color: var(--color-dark-text);
}